<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Test MongoDB</title>
    <link rel="stylesheet" href='../public/styles.css'>
</head>

<body>
    <h1>Welcome to Test MongoDB and test API</h1>
    <div>es tu prêt pour le défi ?</div>
    <!-- <% include ./partials/footer %> -->
</body>

</html>