<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href='../public/styles.css'>
</head>

<body>
    <h1>Movie <%= title %>
    </h1>
    <div>
        <%= movieId %>
    </div>
    <!-- <% include ./partials/footer %> -->
</body>

</html